body {
    background-color: beige
}


.navButton {
    display: flex;
    justify-content: center;
    align-content: center;



    width: 75px;
    height: px;
}

#loadImage {
    opacity: 0;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#text {
    padding-right: 45px;
    font-family: Arial Narrow, sans-serif;
    color: aliceblue;
    font-size: xx-large;
}

.loadItemsContainer {
    display: flex;
    justify-content:baseline;
    

    width: 100%;
    height: auto;
}

.containerDiv {
    margin: auto;
    width: 75%;
    height: 1000px;

    position: absolute;
    align-items: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}


.disco {
    background-image: url(images/party-dance-floor-background-24326791.webp);
    background-repeat: no-repeat;
    background-size: cover;

    width: 1000px;
    height: 1000px;

}

#bodyDiv {

    margin: auto;
    width: 75%;
    height: 1000px;



}

#h1 {
    font-family: Arial Narrow, sans-serif;
    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 100%;


}

.header {
    /*background-color: red;*/

    width: 100%;
    height: 100px;


    display: flex;
    justify-content: center;
    align-items: center;


}

.padding {
    background-color: red;
    padding-top: 5%;

    width: 100%;
    height: 100px;


}

.navBarDiv {
    background-color: brown;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

}


.btn {
    padding: 8px 6px 8px 6px;
    font-family: Arial Narrow, sans-serif;


}


/*Images are the hedgehogs dancing*/
.mainImg1 {
    width: 50%;
    height: 450px;

    display: flex;
    float: left;
    align-items: center;
    justify-content: center;


}

.mainImg2 {
    width: 55%;
    height: 300px;
    float: left;
    transform: rotateY(180deg)
}

.mainImg3 {
    width: 45%;
    height: 300px;
    float: right;
    display: flex;


}


.textContainer {
    padding-left: 300px;


}

.textDiv {
    background-color: aliceblue;
    width: 341px;
    height: 80px;



    display: flex;
    justify-content: center;
}

.text {
    width: 100%;
    height: 50px;
    background-color: red;


}

.colorDrop {
    /*for confetti, hopefully (:*/
    width: 500px;
    height: 40px;
}

#img {
    animation-name: firstAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#img2 {
    animation-name: firstAnim;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

#img3 {
    animation-name: firstAnim;
    animation-duration: 2.75s;
    animation-iteration-count: infinite;
    padding-bottom: 200px;
}




@keyframes firstAnim {
    0% {
        width: 90%;
        height: 50%;
    }

    20% {
        transform: rotate(5deg);
    }

    20% {
        width: 87%;
        height: 50%;
    }

    30% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);
    }

    75% {
        width: 50%;
        height: 48%;
    }

    78% {
        width: 48%;
        height: 47%;
    }

    99% {
        width: 91%;
        height: 50%;
    }

    100% {
        width: 90%;
        height: 50%;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.loadingDiv {
    position: absolute;

    width: 100%;
    height: 100%;

    align-content: center;
    justify-content: center;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}