body {
    /* bazinga */
    background-color: rgb(0, 6, 12);

}

.siteName {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;
    background-color: red;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.siteNameDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 200px;
}

.barContainer1 {
    background-image: url(imagesIndex/barCounter.webp);
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
}

.drinksContainerOne {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 785px;
    height: 200px;
    padding-bottom: 80px;
    padding-left: 20px;
}


.barContainer2 {
    background-image: url(imagesIndex/barCounter.webp);
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
}

.drinksContainerTwo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 785px;
    height: 200px;
    padding-bottom: 80px;
    padding-left: 20px;
}



/* Drinks */
.pinaColada {
    padding-bottom: 30px;
}

.pinaColadaName{
    color: aliceblue;
}

/*
.pinaColadaName:hover+.hide{
    background-color: aliceblue;
    width: auto;
    height: 100px;
    display: flex;
}*/

.mintRefresher {
    padding-bottom: 10px;
    padding-left: 25px;
}

.strawberryDaq {
    padding-bottom: 20px;
    padding-right: 15px;
}

.spicyDrink {
    padding-bottom: 5px;
    width: 90px;
}

.oldFashion {
    padding-bottom: 15px;
    padding-right: 20px;
}

.monsterEnergy {
    padding-bottom: 15px;
    padding-left: 15px;
}

.bombPop {
    padding-bottom: 25px;
}

.chocolateMilk {
    padding-right: 0px;
    /*why this shit don't work idk*/
    padding-bottom: 20px;
}

.blueDaq {
    padding-bottom: 25px;
    padding-left: 10px;
}


/* drinks ID*/

#drink {
    transition: transform .4s;
}

/* Hover effect?? */
#drink {
    font-size: 0;
}

#drink:hover {
    transform: scale(1.5);


    color: black;
    font-size: 20px;
    text-align: center;
}

/* closes drinks ID */
/* End drinks */



.hide {
    display: none;
}

.drinkName:hover+.hide {
    background-color: aliceblue;
    width: auto;
    height: 100px;
    display: flex;

}

.drinkName {
    color: rebeccapurple;
}


.buttonDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}

#nameDisplay{
    color: aliceblue;
    font-size: 65px;
  
}


.displayDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    opacity: 0;
    transition: opacity 2s;
}
 
/*fix transtition*/
.displayDiv:hover{
    opacity: 1;
    
}


