body {
    /* bazinga */
    background-color: rgb(0, 6, 12);

}

.square{
    width: 850px;
    height: 650px;
    margin: auto;
    background-color:  rgb(1, 14, 27);
}

.siteName {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    width: 800px;
    background-color: red;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

/*
.siteNameDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 200px;
}
    */

.barContainer1 {
    background-image: url(imagesIndex/barCounter.webp);
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
}

.drinksContainerOne {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 785px;
    height: 200px;
    padding-bottom: 80px;
    padding-left: 20px;
}


.barContainer2 {
    background-image: url(imagesIndex/barCounter.webp);
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
}

.drinksContainerTwo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 785px;
    height: 200px;
    padding-bottom: 80px;
    padding-left: 20px;
}

#bar2{
    display: none;
}



.barContainer3 {
    background-image: url(imagesIndex/barCounter.webp);
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
}



/* Drinks */
.pinaColada {
    padding-bottom: 30px;
}

.pinaColadaName{
    color: aliceblue;
}

/*
.pinaColadaName:hover+.hide{
    background-color: aliceblue;
    width: auto;
    height: 100px;
    display: flex;
}*/

.mintRefresher {
    padding-bottom: 10px;
    padding-left: 25px;
}

.strawberryDaq {
    padding-bottom: 20px;
    padding-right: 15px;
}

.spicyDrink {
    padding-bottom: 5px;
    width: 90px;
}

.oldFashion {
    padding-bottom: 15px;
    padding-right: 20px;
}

.monsterEnergy {
    padding-bottom: 15px;
    padding-left: 15px;
}

.bombPop {
    padding-bottom: 25px;
}

.chocolateMilk {
    padding-right: 0px;
    padding-bottom: 20px;
}

.blueDaq {
    padding-bottom: 25px;
    padding-left: 10px;
}


/* drinks ID*/

#drink {
    transition: transform .4s;
    font-size: 0;
}

/* Hover effect?? */
#drink:hover {
    transform: scale(1.2);
    

    /*box-shadow: 10px 10px 5px rgb(22, 35, 39);*/
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

/* closes drinks ID */
/* End drinks */




/*
.hide {
    display: none;
}

.drinkName:hover+.hide {
    background-color: aliceblue;
    width: auto;
    height: 100px;
    display: flex;

}

.drinkName {
    color: rebeccapurple;
}
*/


.buttonDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}

/* makes site names pretty (hopefully will add fade effect)*/
#nameDisplay{
    display: flex;
    margin: auto;

    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 65px;
}

#nameDisplay:hover{
    transition: opacity 2s;
    color: aliceblue;
    
}

.displayDiv{
    display: flex;
    width: 100%;
    height: 200px;
}







/*.displayDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    opacity: 0;
    transition: opacity 2s;
    color: aliceblue;
}
 
fix transtition
.displayDiv:hover{
    opacity: 1;
    color: aliceblue;
    
}
*/

