body {
    background-image: linear-gradient(to bottom, #3b1d6b, #214c6f, #214c6f);
    width: 1250px;
    margin: auto;
    /*
    background-image: url(images4FivePage/FivePagerBackground.jpeg) style="width=1250";
    background-repeat: no-repeat;*/
}

div.container {
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    background-image: linear-gradient(to right, #a1391a, #a1391a, #214c6f, #214c6f);
}

header {
    background-image: url(images4FivePage/TsunamiHeader.jpg);
    height: 250px;
    width: 1250px;
}

header h1 {
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 60px;
    font-style: italic;
    font-family: Times, 'Times New Roman', "serif";
    color: rgb(236, 255, 236);
    text-shadow: 1px 1px 5px black;
    /*push down from the top, over to the left, 2 px shadow*/
}

header h2 {
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    font-size: 36px;
    font-style: italic;
    font-family: Times, 'Times New Roman', "serif";
    color: rgb (236, 255, 236);
    text-shadow: 1px 1px 5px black;
    /*push down from the top, over to the left, 2 px shadow*/
}

nav {
    height: 35px;
    width: 760px;
    background-image: linear-gradient(to right, #a1391a, #214c6f);
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
}

input:focus {
    background-color: rgb(116, 75, 139);
    color: rgb(255, 249, 241)
}

nav a.active,
nav a:hover {
    padding: 8px 6px 8px 6px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    background-image: url(images4FivePage/activeButton.jpg);
    color: rgb(218, 4, 4);
    border-radius: 10px;
    margin-right: 15px;
    border-radius: 10px;
}

nav a.button {
    padding: 8px 6px 8px 6px;
    /*top, right, bottom, left*/
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-image: url(images4FivePage/BlueFabric.jpg);
    text-decoration: none;
    color: rgb(241, 91, 4);
    margin-right: 15px;
    border-radius: 10px;
}

main {
    padding: 15px;
    width: 910px;
    height: 910px;
    padding-bottom: 60px;
    background-image: linear-gradient(to bottom, #a1391a, antiquewhite);
    float: left;
}

/*
img.floatright {
    background-image: url(images4FivePage/BlueFabric.jpg);
    float: right;
    margin-left: 10px;
    margin-bottom: 10px
}*/

.sidebarImage img {
    width: 310px;
    height: 965px;
    opacity: 35%;
}

footer.footer {
    width: 1250px;
    height: 50px;
    padding-right: 25px;
    padding-top: 10px;
}

footer.footerleft {
    color: antiquewhite;
    background-image: linear-gradient(to right, #a1391a, #a1391a, #214c6f);
    width: 575px;
    height: 45px;
    float: left;
}

footer.footerright {
    color: antiquewhite;
    padding-left: 100px;
    background-image: linear-gradient(to left, #214c6f, #214c6f, #214c6f);
    width: 575px;
    height: 45px;
    float: right;
    text-align: right;
}

.sidebar {
    padding-top: 20px;
    width: 310px;
    height: 965px;
    float: right;
    color: white;
    background-image: linear-gradient(to bottom, #214c6f, #a1391a);
    text-align: left;
}

.imgFloatRight {
    float: right;
}

.ilmg img {
    opacity: 65%;
    padding-top: 40px;
    padding-left: 30px;
    float: right;
    width: 300px;
    height: 230px;
}


/**** ABOUT PAGE ****/

.AboutSidebar {
    float: right;
}

/************* IMAGE FADE CODE ***************/

.imageScaler {
    width: 250px;
    height: 250px;
}

/********** TABLE 4 ABOUT ************/


div.tableMain {
    background-image: linear-gradient(to bottom, #216f68, #eb8006, #e96f4a);
    width: 800px;
}

main .TopHeader {
    width: 800px;
    text-align: center;
    border: 2px solid color=none;
    border-collapse: collapse;
}

/* Start, End, G, W, Line*/
main .table1,
main .table1 .th1,
main .table1 .td1 {
    width: 800px;
    text-align: center;
    border: 2px solid (235, 218, 193);
    border-collapse: collapse;
}

main .table1 .blockThree,
main .table1 .bl3 {
    text-align: center;
    border: 2px solid rgb(235, 218, 193);
    border-collapse: collapse;
    width: 800px;
}

.bucket .ThirdGreen {
    border: 2px rgb(2, 0, 2) solid;
    border-collapse: collapse;
    background-image: linear-gradient(to top, #5a9c97, #eb8006, #eb8006, #e96f4a);

}

/*Block 1*/
.bl1 {
    width: 800px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid rgb(235, 218, 193);
    border-collapse: collapse;
}

.bl2 {
    width: 800px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid rgb(235, 218, 193);
    border-collapse: collapse;
}

.bl3 {
    width: 800px;
    border: 2px solid rgb(235, 218, 193);
    border-collapse: collapse;
}

.bl4 {
    width: 800px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid rgb(235, 218, 193);
    border-collapse: collapse;
}

.Flex {
    width: 800px;
    border: 2px solid rgb(235, 218, 193);
    border-collapse: collapse;
}

.hidden {
    opacity: 0;
}

.ThirdGreen {
    border: 2px solid black;
    border-collapse: collapse;
}

/******** LIKE PAGE **********/

.rollover2 {
    width: 350;
    height: 350;
    float: right;
}

/*** CONTACT PAGE ***/

.contactColor {
    background-color: #f0ab51;
}