body {
    font: 1.2em / 1.5 sans-serif;
    margin-left: 30%;
    margin-right: auto;
}

.firstRow ul {
    max-width: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.secondRow {
    max-width: 700px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.secondRow li {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    margin-right: 60%;
    text-align: center;
}

.thirdRow {
    max-width: 700px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    width: 100%;
}

.thirdRow li {
    width: 80%;
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    padding: 0.5em;
    color: white;
    display: flex;

    text-decoration: none;
}

nav a:link,
nav a.visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
}

nav ul {
    color: navajowhite;
}

.container {
    border: 2px solid #f59133;
    background-color: #ffae62;
    padding: 50px;
    width: 40%;
}

.third1 {
    flex-shrink: 2;
}

.third2 {
    flex-grow: 4;
}

.third3 {
    flex-shrink: 2;
}




.bigContainer {
    border: 2px solid #f59133;
    background-color: #ffae62;

    width: 60%;
    height: 500px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    gap: 10px;
}

.boxOne {
    border: 2px solid #f57033;
    background-color: #ff9462;
    border-radius: 10px;

    width: 60%;
    height: 200px;

}

.boxTwo {
    border: 2px solid #f57033;
    background-color: #ff9462;
    border-radius: 10px;

    width: 37%;
    height: 200px;

}







.listOne li {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 10px;

    width: 90%;
    height: 50px;

    list-style: none;

    display: flex;
}


.listTwo li {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 10px;

    
    height: 50px;

    flex-wrap: wrap;
    list-style: none;
    display: flex;
}

.two1{
    width: 20%;
    align-self: flex-end;
}

.two2{
    width: 10%;
    align-self: flex-start;
}

.two3{
    width: 60%;
    align-self: flex-end;
}