html {
    position: relative;
}

/*text body*/
body {
    font-family: "monospace";
    color: #bacae0;
    position: relative;
}

.backgroundColor {
    background-image: linear-gradient(to bottom, #1f0b24);
}


a:link {
    color: #ffffff;
    text-shadow: 2px 2px 5px #e9c2ff;
}

a:visited {
    color: #ffffff;
    text-shadow: 2px 2px 5px #e9c2ff;
}

/*will control what happens on a hover of a tags*/
a:hover {
    color: rgb(146, 94, 196);
    text-shadow: 2px 2px 5px #4a038d;
}


/*something like this control what to a tags only in the .sidebar*/
.sidebar a:link {
    border: red 2px solid;
    position: relative;
}

/*this tag puts a dotted underline under text*/
abbr {
    /*border-bottom: none;*/
    border: green 2px solid;
    position: relative;
}


/*surrounds entire site except exta divs*/
.page-wrapper {
    margin: auto;
    background-color: #3b2747;
    width: 900px;
    height: 3000px;
    position: relative;
}




/*First paragraph*/
.summary {
    border-bottom: #f2ad73 10px solid;
    border-left: #ffa345 20px solid;
    border-top: #ffa345 20px solid;

    position: absolute;
    padding-top: 10px;
    padding-left: 90px;
    background-color: #1f0b24;
    width: 400px;
    left: 450px;
    margin: 20px;
}


.preamble {
    border-bottom: #f2ad73 10px solid;
    border-top: #ffa345 20px solid;
    border-right: #ffa345 10px solid;
    border-left: #f2ad73 10px solid;

    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 90px;
    background-color: #1f0b24;
    width: 400px;
    top: -15px;
    left: -10px;
    margin: 20px;
}

div.explanation {
    border-bottom: #f2ad73 10px solid;
    border-left: #ffa345 20px solid;
    border-top: #ee8700 20px solid;
    border-right: #ffa345 20px solid;

    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 90px;
    background-color: #1f0b24;
    height: 860px;
    width: 200px;
    top: 300px;
    left: 540px;
    margin: 20px;
}

.participation {
    border-bottom: #f2ad73 10px solid;
    border-right: #ffa345 20px solid;
    border-top: #ffa345 20px solid;

    position: absolute;
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 0px;
    background-color: #1f0b24;
    border-width: 20px;
    width: 500px;
    top: 100px;
    left: -100px;
    margin: 0px;
}

.benefits {
    border-bottom: #1f0b24 10px solid;
    border-right: #ffa345 20px solid;
    border-top: #ffa345 20px solid;

    position: absolute;
    padding-top: 12px;
    padding-left: 90px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #1f0b24;
    border-width: 20px;
    width: 500px;
    top: 110px;
    left: 100px;
    margin: 0px;
}

.requirements {
    border-right: #ffa345 20px solid;
    border-bottom: #1f0b24 15px solid;

    position: absolute;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #1f0b24;
    border-width: 20px;
    width: 700px;
    top: 110px;
    left: 100px;
}

.bottomLinks {
    border-right: #ffa345 20px solid;
    border-top: #ee8700 20px solid;

    position: absolute;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #1f0b24;
    border-width: 20px;
    width: 300px;
    top: 2500px;
    right: 100px;
}





main supporting/ section.intro {
    border: blue 2px solid;
    position: relative;
}


header {
    position: relative;
}

/*Top Header*/
header h1 {
    border-top: #ffa345 20px solid;
    border-right: #ffa345 10px solid;
    border-left: #f2ad73 10px solid;
    width: 400px;
    height: 100px;
    color: #ffffff;
    text-shadow: 2px 2px 5px #e9c2ff;
    font-size: xx-large;
    background-color: #1f0b24;
    margin: auto;
    text-align: center;
    position: relative;
}

/*The Beauty of CSS Design*/
header h2 {
    border-top: #ffa345 10px solid;
    border-right: #f3742b 10px solid;
    position: absolute;
    background: #1f0b24;
    height: 60px;
    width: 400px;
    left: -50px;
    top: 100px;
    float: left;
}


/*surrounds .explanation .participation .benefits .requirements footer*/
div.main {
    border: purple 2px solid;
    position: relative;
}

/*These are all your major sub-elements, you can give a whole group of classes commands by grouping them separated by , */
/*You can get more specific by styling the <p> tags or the <h3> tags or a specific <p> tag with a command like*/
/*suppary p would style every <p> inside of summary */
header,
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements,
footer {
    position: relative;
}


/*There are 6 extras at the very bottom of the page*/
.extra1 {
    /*code below will place element at top of page*/
    /*
  position:absolute;
  top:0px;
  width:image width;
  height:image height;
  */
    position: relative;
}


/** The background bricks, hides borders that go out of bounds**/

.brickOne {
    position: absolute;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    background-color: #1f0b24;
    border-width: 10px;
    height: 20px;
    width: 30px;
    left: -70px;
    top: 66px;
}

/*top half of "A demonstration...*/
.brickTwo {
    position: absolute;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 25px;

    background-color: #1f0b24;
    border-width: 10px;
    height: 20px;
    width: 30px;
    left: 900px;
    top: 90px;
}

/*bottom half of "A demonstration...*/
.brickThree {
    position: absolute;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 25px;

    background-color: #1f0b24;
    border-width: 10px;
    height: 20px;
    width: 30px;
    left: 910px;
    top: 290px;
}

/*Top Participation...*/
.brickFour {
    position: absolute;
    padding-top: 12px;
    padding-left: 35px;
    padding-right: 45px;
    padding-bottom: 150px;

    background-color: #1f0b24;
    border-width: 10px;
    height: 20px;
    width: 30px;
    left: -110px;
    top: 800px;
}

/*Bottom Participation...*/
.brickFive {
    position: absolute;
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 45px;
    padding-bottom: 20px;

    background-color: #1f0b24;
    border-width: 10px;
    height: 20px;
    width: 30px;
    left: -110px;
    top: 1460px;
}

.brickSix {
    position: absolute;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 200px;

    background-color: #1f0b24;
    border-width: 10px;
    height: 20px;
    width: 30px;
    left: 750px;
    top: 2985px;
}





















style.css External Displaying style.css.